/* 基本のリセットとフォント設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f0f0f0;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

/* ヘッダー */
header {
    background: #170bc4e3;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* メインコンテンツ */
main {
    max-width: 960px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* リンク */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #527fc4;
    text-decoration: underline;
}

/* 詳細要素 */
details {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    background: #f9f9f9;
}

details[open] summary {
    border-bottom: 1px solid #ddd;
}

summary {
    font-weight: bold;
    margin: -10px -20px 10px -20px;
    padding: 10px 20px;
    background: #170bc4e3;
    color: white;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

/* フッター */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

/* 追加のスタイル（オプション） */
details p {
    padding-left: 20px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    main {
        width: 90%;
        margin: 20px auto;
    }

    header, footer {
        padding: 10px 0;
    }
}
